.partner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(91.45deg, rgba(250, 67, 0, 0.5) 20.3%, rgba(237, 130, 26, 0) 97.61%), rgba(237, 130, 26, 0.5);
  padding: 2em 0;
}

.partner__content img:nth-child(2) {
  margin: 0 10em;
}
