.navbar {
  background: var(--bg-navbar);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__menu ul {
  list-style: none;
  display: flex;
}

.navbar__menu ul li {
  margin: 0 2em;
}

.navbar__menu ul li:last-child {
  margin-right: 0;
}

.navbar__menu ul li:first-child {
  margin-left: 0;
}

.navbar__menu ul li a {
  font-weight: 600;
  text-decoration: none;
  color: var(--muted);
}

.navbar__menu-res {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar__menu ul li {
    margin: 0 0.5em;
  }
}

@media screen and (max-width: 600px) {
  .navbar__menu {
    display: none;
  }

  .navbar__menu-res,
  .res__menu-icon {
    display: block;
  }

  .res__menu {
    display: none;
  }
}
