.testimonial__content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.arrow {
  /* width: 50px; */
  /* height: 50px; */
  padding: 1em;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
}

.arrow:last-child {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.testimonial__words p {
  font-weight: 600;
}

.testimonial__words p:last-child {
  font-size: 0.8rem;
}
