.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.header__content {
  flex: 1;
  margin-right: 3rem;
}

.header__content h1 {
  font-size: 3rem;
}

.header__content p {
  font-weight: 600;
  margin: 1em 0 2em 0;
}

.header__content button {
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: var(--white);
  background: var(--bg-button);
  filter: var(--button-shadow);
  text-transform: uppercase;
}

.header__image {
  flex: 1;
  min-width: 400px;
}

.header__image img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
  }

  .header__content {
    order: 2;
    margin-top: 2rem;
    margin-right: 0;
  }

  .header__image {
    order: 1;
    min-width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .header__content h1 {
    font-size: 2rem;
  }
}
